
@{
    ViewBag.Title = "AdminAddItem";
    Layout = "~/Views/AdminHomeLayout.cshtml";
}

<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <!--  BEGIN SIDEBAR  -->
    <div class="sidebar-wrapper sidebar-theme">

        <nav id="sidebar">
            <div class="shadow-bottom"></div>
            <ul class="list-unstyled menu-categories" id="accordionExample">
                <li class="menu">
                    <a href="#dashboard" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            <span>Dashboard</span>
                        </div>

                    </a>

                </li>
                <li class="menu">
                    <a href="#components" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                            <span>Item Details</span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="components" data-parent="#accordionExample">
                        <li>
                            @Html.ActionLink("Add New Item", "AdminAddItem", "AdminAddItem", new { @class = "nav-link" })

                        </li>
                        <li>
                            @Html.ActionLink("Add items to stock", "AddItemsTOStock", "AdminAddItem", new { @class = "nav-link" })

                        </li>
                        <li>

                            @Html.ActionLink("Current stock", "ViewCurrentStock", "AdminAddItem", new { @class = "nav-link" })

                        </li>
                        <li>

                            @Html.ActionLink("Clear today stock", "ViewCurrentStockToClear", "AdminAddItem", new { @class = "nav-link" })

                        </li>
                        <li>

                            @Html.ActionLink("Stock History", "ViewStockHistory", "AdminAddItem", new { @class = "nav-link" })

                        </li>


                    </ul>
                </li>
                <li class="menu">
                    <a href="#datatables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                            <span>Order Details</span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="datatables" data-parent="#accordionExample">
                        <li>

                            @Html.ActionLink("Pending orders", "LoadpendingOrders", "AdminAddItem", new { @class = "nav-link" })

                        </li>
                        <li>

                            @Html.ActionLink("Accepted orders", "LoadAcceptOrders", "AdminAddItem", new { @class = "nav-link" })

                        </li>
                        <li>

                            @Html.ActionLink("Cancelled orders", "LoadCancelledOrders", "AdminAddItem", new { @class = "nav-link" })

                        </li>


                    </ul>
                </li>



                <li class="menu">
                    <a href="#users" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            <span>User Details</span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="users" data-parent="#accordionExample">
                        <li>
                            @Html.ActionLink("All Users", "LoadUser", "AdminAddItem", new { @class = "nav-link" })
                        </li>
                        <li>
                            @Html.ActionLink("Removed Users", "LoadUserRemoved", "AdminAddItem", new { @class = "nav-link" })
                        </li>
                        <li>
                            @Html.ActionLink("User Report", "LoadUserReport", "AdminAddItem", new { @class = "nav-link" })
                        </li>

                    </ul>
                </li>

                <li class="menu">
                    <a href="#pages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <div class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            <span>Settings</span>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled" id="pages" data-parent="#accordionExample">
                        <li>
                            @Html.ActionLink("Logout", "ADminLogout", "AdminAddItem", new { @class = "nav-link" })
                        </li>


                    </ul>
                </li>





            </ul>

        </nav>

    </div>
    <!--  END SIDEBAR  -->
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">

        <div class="col-md-12">
            <div class="container">

                <div class="container">



                    <div class="row layout-top-spacing">

                        <div id="basic" class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Add new item</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">

                                    <div class="row">
                                        <div class="col-lg-6 col-12 mx-auto">

                                            <div class="form-group">
                                                <p>Item Name</p>
                                                <label for="t-text" class="sr-only">Text</label>
                                                <input type="text" class="form-control" required id="itemname" placeholder="Type Item name">

                                            </div>

                                            <div class="form-group">
                                                <p>Meal Type</p>
                                                <label for="t-text" class="sr-only">Text</label>
                                                <select class="form-control" id="itembrand">
                                                    <option>None</option>

                                                    <option>Spicy</option>
                                                    <option>Normal</option>
                                                    <option>Cheesy</option>

                                                </select>

                                            </div>
                                            <div class="form-group">
                                                <p>Most Suitable For</p>
                                                <label for="t-text" class="sr-only">Text</label>
                                                <select class="form-control" id="mealtype">
                                                    <option>None</option>

                                                    <option>breakfast</option>
                                                    <option>lunch</option>
                                                    <option>dinner</option>

                                                </select>

                                            </div>
                                            <div class="form-group">
                                                <p>Size</p>
                                                <label for="t-text" class="sr-only">Text</label>
                                                <select class="form-control" id="itemsize">
                                                    <option>None</option>

                                                    <option>small</option>
                                                    <option>medium</option>
                                                    <option>large</option>

                                                </select>

                                            </div>


                                            <div class="form-group">
                                                <p>Description</p>
                                                <label for="t-text" class="sr-only">Text</label>
                                                <input type="text" placeholder="item description" class="form-control" id="itemdescrip" style="height:150px;">

                                            </div>

                                            <div class="form-group">
                                                <p>Unit Price</p>
                                                <label for="t-text" class="sr-only">Text</label>
                                                <input type="text" placeholder="Ex : 250,300" class="form-control" id="sellprice">

                                            </div>

                                            <button class="btn btn-success" id="additembtn">Add new item</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>





                    </div>







                    <div class="row">




                    </div>
                </div>
            </div>
        </div>







        <div class="footer-wrapper">
            <div class="footer-section f-section-1">
                <p class="">Copyright © 2021 <a target="_blank" href="">LMN Pvt Ltd</a>, All rights reserved.</p>
            </div>
            <div class="footer-section f-section-2">
                <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
            </div>
        </div>
    </div>
    <!--  END CONTENT AREA  -->

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>

    $('#additembtn').click(function () {

        var itemname = $('#itemname').val();
        var mealtype = $('#itembrand').val();
        var mealsuitblefor = $('#mealtype').val();
        var sizez = $('#itemsize').val();
        var descriptionz = $('#itemdescrip').val();
        var unitprice = $('#sellprice').val();



        if (itemname == "" || unitprice == "" || descriptionz == "") {
           
            swal("Error!", "please Fill All Feilds..!", "error");
        } else if (mealtype == "None" || mealsuitblefor == "None" || sizez == "None") {
            swal("Error!", "please Select Valid Details..!", "error");
        } else {


            $.post("IAD",
                {
                    itemname: itemname,
                    mealtype: mealtype,
                    mealsuitblefor: mealsuitblefor,
                    sizez: sizez,
                    descriptionz: descriptionz,
                    unitprice: unitprice

                },
                function (data, status) {

                    if (data == "ok") {
                        swal(itemname + " Added Sucess...!", {
                            icon: "success",
                        });


                    } else if (data == "alre") {
                        swal("Error!", "Item Already Exists..!", "error");
                    } else {
                        swal("Error!", "Something went wrong..!", "error");
                    }

                });







        }



    })



</script>

